@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #075e54;
  --color-secondary: #25d366;
  --color-accent: #dcf8c6;
}

body {
  background-color: var(--color-accent);
  color: #222;
}

button {
  transition: background-color 0.2s ease;
}
